@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("background.jpg") no-repeat ;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    padding: 20px 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2cm;
    color: turquoise;
    user-select: none;
}

.navigation a {
    color: rgb(1, 11, 5);
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    font-size : 20px;
    font-weight : 50;
    margin: 0 15px;
}

.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: rgba(241, 244, 242, 0.944);
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.2s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.2s;
}

.navigation .btnLogin-popup:hover {
    background-color: white;
    color: #010d02e3;
}

.wrapper {
    position: relative;
    width: 400px;
    height : 400px;
    background: transparent;
    border : 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height 0.2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 420px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);

}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 1cm;
    color: rgba(0, 1, 1, 0.822);
    text-align: center;
   
}

.input-box {
    position: relative;
    width: 100%;
    margin-top: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.2s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: #031203;
    font-size: 0.8em;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 8px 0px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1,2em;
    color: rgba(255, 255, 255, 0.5);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.5);
    margin: -15px 0 15px 0;
}

.remember-forgot label input {
    accent-color: #011402d9;
    margin-right: 3px;
}

.remember-forgot a {
    color: #010b01d7;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 45px;
    background: #011402d9;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: white;
}

.login-register {
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin : 20px 0 10px;
}

.login-register a {
    color: #010b01d7;
    text-decoration: none;
    font-weight: 600;
}

.login-register a:hover {
    text-decoration: underline;
}